.wrapper {
    overflow: auto;
    .title {
        font-family: perpetua titling mt;
        font-size: 8.25rem;
        max-width: 700px;
        margin-bottom: 100px;
    }
}

.primary {
    .title {
        max-width: 900px;
    }
}
