* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    color: #fff;
    background-color: #00a19a;
    line-height: 1.5;
    animation: rotate 2s linear infinite;
}

a[href] {
    text-decoration: none;
    color: #fff;
}

@media screen and (max-width: 1000px) {
    html {
        font-size: 10px;
    }
}
