.wrapper {
    position: relative;
    background-color: #00a19a;
    z-index: 2;
    margin-top: 24px;
    margin-left: 25%;
}

.title {
    font-size: 1.875rem;
}

.trademark{
}

.image{
    background-color: transparent;
}
