.wrapper {
    position: relative;
    // display: inline-block;
    // width: auto;
    // background-color: #00a19a;
    cursor: pointer;

    &:hover {
        .circle {
            border-radius: 0;
            left: 1.5rem;
        }

        .line {
            width: 75%;
        }
    }
}

.circle {
    position: absolute;
    width: 4.25rem;
    height: 4.25rem;
    left: 0;
    border-radius: 50%;
    border: 1px solid #fff;
    border-right: 1px solid transparent;
    transition: 0.75s;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    margin-left: 1rem;

    .content {
        font-size: 1.375rem;
        line-height: 4.25rem;
    }

    .line {
        height: 0.8px;
        width: 0;
        background-color: #fff;
        margin-top: -1rem;
        transition: 0.75s;
    }
}

.primary {
    .container {
        width: 90px;
    }

    &:hover {
        .circle {
            left: 0;
        }
    }
}

.short {
    .container {
        width: 70px;
    }

    &:hover {
        .circle {
            left: 0;
        }
    }
}

.long {
    .container {
        width: 100px;
    }

    &:hover {
        .circle {
            left: 1rem;
        }
    }
}
