.wrapper {
    position: relative;
    margin-top: 160px;
}

.navbar {
    position: fixed;
    width: 25%;
    line-height: 1.6;
    top: 200px;
    z-index: 3;

    .content {
        display: flex;
        align-items: center;

        &:hover {
            .left-line {
                opacity: 1;
            }
        }
    }

    .left-line {
        width: 22px;
        height: 0.8px;
        background-color: #fff;
        margin-right: 8px;
        opacity: 0;
        transition: 0.5s;
    }

    .text {
        font-size: 1.625rem;
    }
}

.story {
    max-width: 700px;
    margin-left: 25%;

    .title {
        font-family: perpetua titling mt;
        font-size: 2.25rem;
    }

    .content {
        display: flex;
        font-size: 1.1875rem;
        margin-top: 40px;
        margin-bottom: 180px;
    }

    .left-content {
        width: 40%;
    }

    .right-content {
        width: 40%;
        margin-left: 60px;
    }
}

.line {
    height: 0.8px;
    background-color: #fff;
    margin-left: 25%;
}
